# Dependencies
node_modules

# Next.js
.next

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment (development)
.env.local
.env.development

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Documentation
README.md

# Docker
Dockerfile
docker-compose.yml