:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --clr-primary: #29221d;
    --clr-primary-light: #473b33;
    --clr-secondary: #1e1611;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-pumpkin: #fe6c00;
    --clr-silver: #a8a5a6;
    --clr-silver-v1: #bdbabb;
    --clr-scarlet: #fe1e00;
    --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
    --clr-green: #00fe93;
    --clr-yellow: #fec80a;
    --clr-jet: #302924;
    --clr-peach: #ffc397;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color:var(--background);
  /* background: radial-gradient(circle at right bottom, #29221d, #0a0a0a);
  background-size: cover;
  background-repeat: no-repeat; */
  color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
